:root{
    --header-background-color: #02010F;
    --chat-background-color: linear-gradient(131deg,#02010f 10%, #03052e 20%, #170b59 30%, #240d30 50%, #170b59 70%, #02010f 90%);
    --bot-messages-color: #A250CE;
    --user-messages-color: #47FFE7;
    --text-color: #F1F0EA;
    --messages-text-color: #000;
    --input-background-color: #03052E;
    --input-hover-color: #47FFE7;
    --scrollbar-color: #47FFE7;
}
html {
    /* every 1rem = 1px */
    font-size: 6.25%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-image: url("./img/body-background.jpg")
    
}
#inactive{
    display: none;
}
.global-container{
    font-size: 16rem;
    color: var(--text-color);
    position: relative;
    z-index: 1;
}
.chat-container{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 640px;
    margin: auto;
    transition: 0.4s;
}
/*CHAT HEADER THAT CONTAINS THE BOT NAME AND DESCRIPTION*/
.chat-header{
    display: flex;
    justify-content: space-between;
    border-radius: 8rem 8rem 0 0;
    background-color: var(--header-background-color);
}
.chat-bot-info{
    display: flex;
    width: 100%;
}
.chat-bot-icon{
    align-self: center;
    padding: 5rem 10rem;
    border-radius: 50%;

}
.chat-bot-icon img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.chat-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.chat-title h2{
    font-size: 16rem;
}
.chat-title p{
    font-size: 14rem;
}
.chat-close-icon{
    align-self: center;
    padding: 0 10rem;
}

/*CHAT MESSAGES SECTION*/
.chat-info-container{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--chat-background-color);
    font-size: 14rem;
}
.chat-messages-container{
    display: inline-block;
    width: 100%;
    height: calc(100% - 64px); /*This is to not overlap the input section, so the scrollbar looks good*/
    overflow-x: hidden;
    overflow-y: scroll;
    overscroll-behavior-y: contain;
    color: var(--messages-text-color)
}

.chat-scrollbar::-webkit-scrollbar{
    background: transparent;
    width: 6px;
}
.chat-scrollbar::-webkit-scrollbar-thumb{
    background: var(--scrollbar-color);
}
.chat-scrollbar::-webkit-scrollbar-thumb:hover{
    opacity: 0.1;
}
.chat-scrollbar::-webkit-scrollbar-track{
    background: transparent;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.automated-messages{
    width: 60%;
    word-wrap: break-word;
    padding: 8px 12px;
    border-radius: 12px 12px 12px 0;
    margin: 12px 12px;
    background-color: var(--bot-messages-color);
    color: var(--text-color);
    box-shadow: 0px 2px 10px 0px #A250CE;
}

.user-messages{
    width: 60%;
    word-wrap: break-word;
    padding: 8px 12px;
    border-radius: 12px 12px 0 12px;
    margin: 12px 12px 12px auto;
    background-color: var(--user-messages-color);
    box-shadow: 0px 2px 10px 0px #47FFE7;
}
.chat-input-area{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    padding: 12px;
    background-color: var(--chat-background-color);
    
}
.chat-input-area input {
    width: calc(100% - 32px);
    height: 100%;
    padding: 0 8rem;
    border: 1px solid var(--header-background-color);
    border-radius: 8rem;
    color: var(--text-color);
    background-color: var(--input-background-color);
    border: 1px solid #3F48F3;
    font-size: 14rem;
    transition: 0.2s;
}
.chat-input-area input:hover{
    border: 1px solid var(--input-hover-color);
}
.chat-input-area input:focus{
    border: 1px solid var(--input-hover-color);
    outline: none
}
::placeholder{
    color: var(--text-color);
}
.send-button{
    width: 32px;
    height: 32px;
    margin-left: 4px;
    cursor: pointer;
    border: none;
    background: url("./img/send-button.svg") no-repeat center;
    background-size: cover;
    transition: 0.1s ease-in-out;
}
.send-button:active{
    transform: scale(0.8);
}

.chat-popup{
    position: absolute;
    width: 75px;
    height: 75px;
    z-index: 10;
    background: url("./img/logo_umc.png") no-repeat center;
    background-size: contain;
}
.chat-popup img{

}